.table {
  margin:auto;
  border: 1px solid;
  border-collapse: collapse;
  text-align: center;
}

.th, .td {
  padding: 15px;
  border-left: 1px solid;
  text-align: center;
}

.th {
  border-bottom: 2px solid #dab8b8;
}

.td {
  border-bottom: 1px solid #e0e0e0;
}

.text {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.btn{
  font-size: 1rem;
  padding: 10px;
  border-color: rgb(239, 239, 166);
}

.btn:hover{
  cursor: pointer;
}